<h1>Thank you for your review!</h1>
<a href="/bars/<%= @bar[:id] %>"><button type="button" class="btn btn-outline-primary btn-lg">Return to <%=@bar[:name] %></button></a>
<a href="/"><button type="button" class="btn btn-outline-primary btn-lg">Return to Home</button></a>