<h1>You must be signed in to leave a review.</h1>
<p><a href="/logins/new" class="btn btn-outline-primary btn-lg">Return to Sign In</a></p>
<p><a href="/users/new" class="btn btn-outline-primary btn-lg">Return to Sign Up</a></p>
<p><a href="/" class="btn btn-outline-primary btn-lg">Return to Home</a></p>