<h1>That email address already exists. Please use a different email to sign up or remember your password!</h1>
<a href="/logins/new"><button type="button" class="btn btn-outline-primary btn-lg">Return to Sign In</button></a>
<a href="/users/new"><button type="button" class="btn btn-outline-primary btn-lg">Return to Sign Up</button></a>
<a href="/"><button type="button" class="btn btn-outline-primary btn-lg">Return to Home</button></a>