<h1>That bar already seems to exist. Please check and try again.</h1>
<p><a href="/bars/new" class="btn btn-outline-primary btn-lg">+ Add Bar</a></p>
<p><a href="/" class="btn btn-outline-primary btn-lg">Return to Home</a></p>