<h1>Thank you for visting! You are now logged out.</h1>
<a href="/logins/new"><button type="button" class="btn btn-outline-primary btn-lg">Return to Sign In</button></a>
<a href="/"><button type="button" class="btn btn-outline-primary btn-lg">Return to Home</button></a>