<h1>You must be signed in to leave a review.</h1>
<p><a href="/users/new" class="btn btn-outline-primary btn-lg">Sign Up</a></p>
<p><a href="/logins/new" class="btn btn-outline-primary btn-lg">Login</a></p>
<p><a href="/" class="btn btn-outline-primary btn-lg">Return Home</a></p>